body{
  margin: 0;
  border: 0;
  padding: 0;
  background-image: radial-gradient(circle at top,#FCF9F9, #B0B0B3);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}